.food-category {
    // display: flex;
    // gap: 20px;
    // padding: 20px 100px;

    display: grid; 
    grid-template-columns: repeat(4, 1fr); /* Chia thành 4 cột bằng nhau */
    gap: 16px; 
    margin: 0 auto; 
    padding: 20px 120px;
    
    &__item{
        border-radius: 10px;
        border: 1px solid #f1f1f1;
        transition: all 0.3s; // thời gian phóng to khi hover vào thẻ card

        &:hover {
            transform: scale(1.05); // khi hover vào thẻ card thì thẻ card sẽ phóng to lên 1.05 lần
        }
    }

    img {
        width: 100%;
        height: auto;
    }
    h3{
        margin: 20px;
    }

}