.cart {
    margin: 20px 0;
    h1{
        margin-left: 150px;
    }
    button {
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        padding: .85714286rem 1.71428571rem;
        background-color: #e4002b;
        border: 1px solid #e4002b;
        line-height: 20px;
        font-size: 15px;
        border-radius: 25px;
        margin-top: 20px;
    }

    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 150px 50px 150px;
        padding: 15px;
        box-sizing: border-box;
        background-color: #f8f7f5;

        &__info{
            width: 50%;
            font-size: 2rem;
            letter-spacing: 1px;
            margin: 0 50px; 
            
        }
        &__image{
            width: 50%;
            
        }
    }

    @media screen and (max-width: 768px){
        h1{
            margin-left: 20px;
        }
        &__item{
            margin: 10px 20px 50px 20px;
            flex-direction: column;
            &__info{
                width: 100%;
                margin: 0;
                font-size: 1rem;
            }
            &__image{
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 425px){
        h1{
            margin-left: 10px;
        }
        &__item{
            margin: 10px 10px 50px 10px;
            &__info{
                font-size: 0.8rem;
            }
            &__image{
                width: 100%;
                padding: 0 0 0 0;
                img{
                    width: 285px;
                    height: 300px;
                }
            }
        }
    }
}