.header {
    
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    border-bottom: solid rgba($color: #000, $alpha: 0.1) ;
    position: sticky; // khi cuộn sẽ giữ nguyên header
    top: 0;
    z-index: 1000; 
    background-color: #fff;
    

    &__left, &__right {
        display: flex;
        gap: 20px;
        align-items: center;
        
    }
    &__navigation {
        display: flex;
        gap: 20px;
        list-style: none;
        cursor: pointer;
        
        li {
            color: #202124;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            position: relative; 
            padding-bottom: 5px;

// khi hover vào thì sẽ có hiệu ứng dưới chân của text từ giữa ra 2 bên
            &:hover {
                &::after {
                    width: 100%;
                }
            }

            
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background-color: #202124;
                transition: all 0.3s;
                position: absolute;
                left: 50%;
                transform: translateX(-50%); // thanh bắt đầu từ giữa
                transform-origin: center; // thanh mở rộng từ giữa ra 2 bên
            }
            
        }
    }

    &__cart {
        background-image: url("https://i.ibb.co/C7xB7MW/Screenshot-2024-07-08-at-19-22-32-removebg-preview.png");
        width: 50px;
        height: 100%;
        background-size: cover; 
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:active {
            background-color: rgba($color: #000, $alpha: 0.1);
            border-radius: 50%;
            transform: all 0.3s;
        }

        .number {
            margin-top: 10px;
        }
    }

    &__menu{
        cursor: pointer;
    }

    &__account {
        .icon {
            font-size: 30px;
            width: 40px;
            height: 40px;
            border: solid 3px #000;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }


    button {
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        padding: .85714286rem 1.71428571rem;
        background-color: #e4002b;
        border: 1px solid #e4002b;
        line-height: 20px;
        font-size: 15px;
        border-radius: 25px;
    }

    @media screen and (max-width: 500px) {
        padding: 10px 20px;
        &__left, &__right {
            gap: 10px;
        }
        &__navigation {
            display: none;
        }
        button{
            font-weight: 500;
            padding: .5rem 1rem; 
        }
    }
}